.second-menu {
  height: 20rem;
  width: 100%;
  max-width: 110rem;
  margin: 17rem auto;
  display: flex;
  gap: 3rem;
  padding: 0 2rem;

  @media screen and (max-width: 35.25em) {
    flex-direction: column;
    margin: 10rem auto;
    height: fit-content;
    align-items: center;
    gap: 6rem;
  }
}

.menu-item {
  width: 33%;
  background-color: hsl(0, 0%, 90%);
  border-radius: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 35.25em) {
    width: 70%;
    height: 15rem;
  }

  &:link,
  &:visited {
    color: rgb(0, 0, 0);
  }

  &__img {
    height: 30%;
    display: flex;
    align-items: flex-end;
    position: relative;

    & img {
      transition: all 0.5s ease-out;
      @media screen and (max-width: 62.5em) {
        height: 10rem;
      }
    }
  }
  &__shadow {
    position: absolute;
    top: 7rem;
    left: -25%;
    width: 100%;
    height: 5rem;
    transition: all 0.5s ease-out;

    @media screen and (max-width: 35.25em) {
      top: 5.5rem;
    }

    & img {
      width: 150%;
      height: 50%;
    }
  }

  &__name,
  & span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 4.4rem;
    font-weight: 800;

    @media screen and (max-width: 62.5em) {
      font-size: 1.5rem;
      margin-top: 3.5rem;
    }
  }

  & span {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-out;

    @media screen and (max-width: 62.5em) {
      margin-top: 1rem;
    }

    &::after {
      content: "\003E";
      position: absolute;
      color: var(--color-pry-1);
      transition: all 0.5s ease-out;
    }
  }

  &:hover &__img > img {
    translate: 0 -2rem;
    @media screen and (max-width: 35.25em) {
      translate: unset;
    }
  }

  &:hover &__shadow {
    width: 60%;
    height: 5rem;
    left: 5%;
  }

  &:hover span::after {
    translate: 0.5rem 0;
  }

  &:hover span {
    color: var(--color-pry-1);
  }
}
